torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

numpy
scipy
pandas

opencv-python
pillow
imageio

matplotlib
tqdm

scikit-learn

einops

open3d
trimesh
plyfile

kornia

hydra-core
omegaconf

yacs
fvcore

tensorboard

huggingface-hub
safetensors

xformers==0.0.28.post3
iopath
wcmatch

# Web / UI
gradio==5.17.1
fastapi==0.119.0
flask==3.1.2
