roma
gradio
matplotlib
tqdm
numpy
opencv-python
scipy
einops
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
imagesize
open3d==0.19.0
Pillow

# Training-data preprocessing
h5py
trimesh
pyrender
numpy-quaternion
